footer {
    /*-thème général-*/
    @include main-theme;
    /*-règles communes au header et footer-*/
    @include header-footer;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    border-top: 1px solid $main-border-color;
    overflow: hidden;

    a {
        padding: 0 20px;

        &:hover {
            /*-animation wiggle-*/
            @include wiggle;
            animation: wiggle .5s infinite;
        }
    }
}