footer{
    @include main-theme;
    @include header-footer;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    border-top: 1px solid $main-border-color;
    a{
        padding: 0 20px;
    }
}