header {
    /*-thème général-*/
    @include main-theme;
    /*-règles communes au header et footer-*/
    @include header-footer;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: -3px;
    border-bottom: 1px solid $main-border-color;
}