.menu-wrapper {
    flex-flow: column wrap;
    justify-content: center;
    margin: 1.5em auto;
    &__title {
        font-size: 1.4em;
        font-family: "RationalDisplay";
        margin-bottom: 15px;
        font-weight: bold;
    }

    @media screen and (min-width: 320px) {
        font-size: calc(20px + 4 * ((100vw - 320px) / 680));
    }
}

.menu {
    @include shadow;
    padding: 30px 2vw;
    max-width: 850px;
    width: auto;
}

.menu-section {
    margin: 30px auto 50px auto;

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__title {
            position: relative;
            font-size: .75em;
            white-space: nowrap;
            //Soulignement des titres
            @include underline;
        }

        &__decor {
            align-self: center;
            padding: 0 10px;
            max-height: 10px;
            &--right {
                transform: scaleX(-1);
            }
        }
    }

    &__details {
        text-align: left;
        font-size: .6em;

        &--m-list {
            width: 80%;
            margin: auto;
        }

        &__inner {
            margin: 20px auto;

            & p span {
                font-size: 1.1em;
                float: right;
            }

            & p br {
                display: none;
            }

            @media screen and (max-width: 60em) {
                //retour à la ligne du prix sur petites résolutions
                p {
                    text-align: center;
                    line-height: 2em;
                }

                & p span {
                    float: none;
                    padding: 10px 0px;
                }

                & p br {
                    display: block;
                }
            }
        }
    }
}