body {
  /*-gestion du corps de la page-*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

main {
  /*-gestion du contenu de la page-*/
  margin: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

a {
  text-decoration: none;
}

.text-bold {
  font-weight: bold;
}