@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kaushan+Script&display=swap');
@font-face {
    font-family: "Dejavu";
    src: url("../fonts/dejavu/dejavuserif.ttf") format("truetype");
}
@font-face {
    font-family: "RationalDisplay";
    src: url("../fonts/Rational_display/RationalDisplayEDITED3-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: "SegoePrint";
    src: url("../fonts/Segoe_Print/SegoePrint.ttf") format("opentype");
}
