.note {
    height: 50px;
}

.cards {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    outline: 3px dashed blue;
    align-items: center;
    justify-content:space-around;
    max-width: 80vw;
    margin-top: 20px;
    &__card {
        box-shadow: 0 0 10px #ccc;
        width: 45%;
        height: 35vh;
    }
}