.note {
    height: 35px;
    margin-bottom: 5px;
}

.cards {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    margin-top: 20px;

    &__card {
        @include shadow;
        width: 200px;
        height: 33vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &--menu-note {
            @include cards("Devonshire", "SegoePrint", $background-menu-note, $c-menu-note);

            h2 {
                font-size: 1.3em;
                color: $c-menu-note;
            }
        }

        &--menu-chic {
            @include cards("CroissantOne", "Dejavu", $background-menu-chic, $c-menu-chic);

            h2 {
                @include linear-gradient($d-color-chic-1, $d-color-chic-2);
                font-size: .8em;
            }
        }

        &--menu-delice {
            @include cards("DancingScript", "SegoePrint", $background-menu-delice, $c-menu-delice);

            h2 {
                @include linear-gradient($d-color-delice-1, $d-color-delice-2);
                font-size: 1.2em;
            }
        }

        &--menu-palette {
            @include cards("KaushanScript", "SegoePrint", $background-menu-palette, $c-menu-palette);

            h2 {
                @include linear-gradient($d-color-palette-1, $d-color-palette-2);
                font-size: 1.2em;
            }
        }

        @media screen and (max-width:60em) {
            width: 80%;
        }

        &>:nth-child(1) {
            transition: transform 330ms ease-in-out;
            transform: scale(1);
            opacity: 1;
        }

        &:hover>:nth-child(1) {
            transition: transform 330ms ease-in-out;
            transform: scale(1.2);
            opacity: .8;
        }
    }
}

.soon {
    @include main-theme;
    font-family: RationalDisplay;
    font-size: 1.3em;
    border: none;
    margin: 30px auto;
    padding: 15px 20px;
    border-radius: 10px;
    width: 200px;
}