.mentions {
    width: 50vw;
    margin: 10px auto;
    font-family: dejavu;
    @media screen and (max-width:80em) {
        width: 100%;
        padding: 0;
    }

    &__title {
        font-size: 2em;
    }
        &__section {
            width: 70%;
            text-align: left;
            margin: 10px auto;
            &__title {
                margin: 15px auto;
                font-size: 1.2em;
            }

            &__content {
                line-height: 1.5em;
            }

            &__content>span {
                text-decoration: underline $main-background-color;
            }

            &__content>a {
                color: $main-background-color;
                font-weight: bold;
            }
            
        @media screen and (max-width:40em) {
            width: 90%;
            padding: 0;
        }
        }
    }


.m-title {
    text-align: center;
    padding: 1vw;
    color: $main-background-color;
    font-weight: bold;
    text-decoration: underline;
}