.mentions {
    width: 50%;
    margin: 10px auto;
    font-family: dejavu;


    &__title {
        /*-titre principal-*/
        font-size: 2em;
    }

    &__section {
        width: 70%;
        text-align: left;
        margin: 10px auto;


        &__title {
            /*-titre section-*/
            margin: 15px auto;
            font-size: 1.2em;
        }


        &__content {
            /*-contenu section-*/
            line-height: 1.5em;
        }


        &__content>span {
            /*-soulignement de certains éléments-*/
            text-decoration: underline $main-background-color;
        }

        &__content>a {
            /*-coloration des liens-*/
            color: $main-background-color;
            font-weight: bold;
        }
    }
}

/*-règles appliquées à différents titres-*/
.m-title {
    text-align: center;
    padding: 1vw;
    color: $main-background-color;
    font-weight: bold;
    text-decoration: underline;
}