.menu {
    &--note {
        /*-gestion de la couleur de background et de la fonte générale-*/
        color: $c-menu-note;
        background-color: $background-menu-note;
        font-family: "SegoePrint";
    }

    &__title {

        /*-couleur, taille, et fonte du titre en fonction de la page-*/
        &--note {
            font-size: 1.8em;
            font-family: 'Devonshire', cursive;
        }

        /*-gestion de la taille des svg-*/
        &__note {
            width: 40px;
            margin: auto;
            display: flex;

            &--bottom {
                width: 1em;
                margin-right: 5px;
            }
        }

        /*-gestion du titre d'en bas-*/
        &--bottom {
            font-size: 1.3em;
            display: inline-flex;
        }
    }
}

.menu-section {
    &__header {

        /*-gestion de la couleur des soulignements de titres-*/
        &__title {
            &--note:after {
                background: $c-menu-note;
            }
        }

        &__decor {
            &--note {
                fill: $c-menu-note;
            }
        }
    }
}