@mixin main-theme {
    background-color: $main-background-color;
    color: $main-color;
}

@mixin header-footer {
    width: 100%;
    margin: 0;
    padding: 20px 0px;
    font-family: RationalDisplay;

    a {
        color: $main-color;
    }
}

@mixin cards($title-font, $menu-font, $background, $c-menu-color) {
    h2 {
        line-height: normal;
        font-family: $title-font;
    }

    h3 {
        margin-top: 20px;
        font-size: 1.7em;
        font-family: $menu-font;
        color:$c-menu-color;
    }

    background-color: $background;
}

@mixin shadow {
    box-shadow: 0 0 10px #ccc;
}

@mixin linear-gradient($color1,$color2){
    background: -webkit-linear-gradient(top left,$color1, $color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
//ANIMATIONS
@mixin wiggle{
    @keyframes wiggle{
        10%, 90% { transform: translatex(-3px); }
        20%, 80%{ transform: translatex(2px); }
        30%, 50%, 70% { transform: translatex(-4px); }
        40%, 60% { transform: translatex(4px); }
    }
}
@mixin dots{
    @keyframes dots{
        0% {transform: scaleY(.5); height: 30px;}
        50% {transform: scaleY(1) translateY(-5px);}
        100%{transform: scaleY(.5); height: 30px;}
    }
}

@mixin underline{
    &:after {
        content: "";
        position: absolute;
        right: -2%;
        width: 0;
        bottom: -5px;
        height: 2px;
        border-radius: 15px;
        transition-property: width;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }

    &:hover:after {
        left: -2%;
        right: auto;
        width: 104%;
    }
}